<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthylife">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SearchSport"></activity>
        <activity android:name=".activities.AddSportPage"></activity>
        <activity android:name=".SportStatistics" />
        <activity android:name=".FoodStatistics" />
        <activity android:name=".activities.AddFoodPage" />
        <activity android:name=".activities.SearchFood" />
        <activity android:name=".RegardingPage" />
        <activity android:name=".WaterPage" />
        <activity android:name=".SettingsPage" />
        <activity android:name=".SportPage" />
        <activity android:name=".FoodPage" />
        <activity android:name=".WeightPage" />
        <activity android:name=".MainScreen" />
        <activity android:name=".PersonalInfo2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoalPage" />
        <activity android:name=".SignUp" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".PersonalInfo" />
    </application>

</manifest>